.center-div {
  margin-left: 200px;
  margin-right: 200px;
  width: 200px;
}

.title {
  margin-left: 200px;
  margin-right: 200px;
  width: 200px;
  background-color: #d1d1e0;
}

body {
  background-color: #d1d1e0;
}
