body {
 background: #f0f0f0; 
}

.header {
  padding: 12px;
  text-align: center;
  background: #3182bd; 
  color: white;
  font-size: 30px;
  font-family: Arial; 
  margin: 0;
}

.center-div {
  display:table;
  width:100;
  margin: 0 auto;
}

.center-div2 {
 display:inline-block;
 width:100;
 margin: 0 auto;
}
