.center-div {
}

.header {
  padding: 30px;
  text-align: center;
  background: #8484e1; 
  color: white;
  font-size: 30px;
  font-family: Arial;
  margin: 0;
}

.center-div {
  display: block;
  margin-left: auto;
  margin-right: auto 
}
